@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {
  outline: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f8faf9; }

nav {
  position: absolute !important;
  width: 80%;
  height: auto;
  left: 10%; }
  nav .navbar-toggler {
    padding: 0;
    vertical-align: text-bottom;
    margin-top: 15px;
    margin-right: 20px; }
    nav .navbar-toggler .navbar-toggler-icon {
      color: #16263c;
      font-size: 30px;
      width: auto;
      height: auto; }
  nav .navbar-brand {
    color: #fff;
    font-size: 2.3rem;
    letter-spacing: 1px; }
  nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 8px 32px !important; }

.fullscreen-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100vh; }
  .fullscreen-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 38, 60, 0.89);
    z-index: 1; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.homeSection {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .homeSection h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    padding: 0 10px;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 2px; }
    .homeSection h1 pink {
      color: #2db564;
      font-weight: 600; }
  .homeSection .homebuttonContainer {
    margin-top: 70px; }
    .homeSection .homebuttonContainer a {
      border-radius: 5px;
      border: 1px solid #2db564;
      text-align: center;
      text-decoration: none;
      color: #2db564;
      font-size: 20px;
      letter-spacing: 1px;
      padding: 10px 20px; }
    .homeSection .homebuttonContainer a:hover {
      color: #16263c;
      background: #2db564; }

.aboutSection {
  background: url(../media/img/aboutMe.jpeg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .aboutSection .sectionWrapper {
    width: 80%;
    padding: 32px 0;
    margin: 0 auto; }
    .aboutSection .sectionWrapper .row {
      margin: 0;
      padding: 0; }
      .aboutSection .sectionWrapper .row h1 {
        color: #16263c;
        text-align: left; }
      .aboutSection .sectionWrapper .row .textContainer {
        margin: 0 auto; }
        .aboutSection .sectionWrapper .row .textContainer p {
          color: #4f5152;
          letter-spacing: 1px;
          padding: 16px 0;
          text-align: left; }
      .aboutSection .sectionWrapper .row .ResumeContainer {
        text-align: center; }
        .aboutSection .sectionWrapper .row .ResumeContainer a {
          border-radius: 5px;
          border: 1px solid #2db564;
          text-align: center;
          text-decoration: none;
          color: #2db564;
          font-size: 20px;
          letter-spacing: 1px;
          padding: 10px 20px; }
        .aboutSection .sectionWrapper .row .ResumeContainer a:hover {
          color: #16263c;
          background: #2db564; }

.skillsSection {
  width: 80%;
  padding: 32px 0;
  margin: 0 auto; }
  .skillsSection > h1 {
    color: #16263c;
    text-align: left;
    margin-bottom: 32px; }
  .skillsSection .slider {
    padding: 12px 0;
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.77);
    background: #fff; }
    .skillsSection .slider .mainSlider .sliderItemContainer {
      position: relative;
      background: #f7f7f7;
      outline: none; }
      .skillsSection .slider .mainSlider .sliderItemContainer::before {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        top: 0; }
      .skillsSection .slider .mainSlider .sliderItemContainer::after {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        bottom: 0; }
      .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative; }
        .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:first-child {
          position: absolute;
          top: 0px;
          right: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:nth-child(2) {
          position: absolute;
          top: 0px;
          left: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:nth-child(3) {
          background: #f7f7f7;
          position: relative;
          top: 29px;
          width: 100%;
          height: 42px; }
          .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:nth-child(3) h1 {
            color: #16263c;
            line-height: 42px;
            font-size: 20px; }
        .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:nth-child(4) {
          position: absolute;
          bottom: 0px;
          left: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
        .skillsSection .slider .mainSlider .sliderItemContainer .sliderItemDiv > div:nth-child(5) {
          position: absolute;
          bottom: 0px;
          right: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
    .skillsSection .slider .mainSlider .slick-current {
      position: relative;
      background: #f7f7f7;
      outline: none; }
      .skillsSection .slider .mainSlider .slick-current::before {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        top: 0; }
      .skillsSection .slider .mainSlider .slick-current::after {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        bottom: 0; }
      .skillsSection .slider .mainSlider .slick-current .sliderItemDiv {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative; }
        .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:first-child {
          position: absolute;
          top: 0px;
          right: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:nth-child(2) {
          position: absolute;
          top: 0px;
          left: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:nth-child(3) {
          background: #f7f7f7;
          position: relative;
          top: 29px;
          width: 100%;
          height: 42px; }
          .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:nth-child(3) h1 {
            color: #16263c;
            line-height: 42px;
            font-size: 20px; }
        .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:nth-child(4) {
          position: absolute;
          bottom: 0px;
          left: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
        .skillsSection .slider .mainSlider .slick-current .sliderItemDiv > div:nth-child(5) {
          position: absolute;
          bottom: 0px;
          right: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
    .skillsSection .slider .sliderDetails .sliderItemContainer {
      outline: none;
      margin-top: 20px; }
      .skillsSection .slider .sliderDetails .sliderItemContainer .skillText {
        padding: 20px;
        text-align: center;
        margin-top: 30px;
        color: #16263c; }
        .skillsSection .slider .sliderDetails .sliderItemContainer .skillText p {
          padding-left: 35px;
          text-align: left; }
      .skillsSection .slider .sliderDetails .sliderItemContainer img {
        width: 60px;
        height: auto;
        margin: 20px auto;
        filter: grayscale(0.2); }

.workSection {
  width: 80%;
  padding: 32px 0;
  margin: 0 auto; }
  .workSection > h1 {
    color: #16263c;
    text-align: left;
    margin-bottom: 32px; }
  .workSection .WorkDetails {
    justify-content: center;
    display: flex;
    flex-flow: column; }
    .workSection .WorkDetails h1 {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 8px 0;
      color: #16263c;
      font-weight: 300; }
    .workSection .WorkDetails > p {
      letter-spacing: 1px;
      margin: 8px 0;
      color: #777777;
      font-weight: 200;
      line-height: 1.6; }
    .workSection .WorkDetails .badgeWrapper {
      margin: 0; }
      .workSection .WorkDetails .badgeWrapper span {
        margin: 8px 0;
        color: #16263c;
        border-radius: 4px;
        padding: 6px 10px;
        border: 1px solid #2db564; }
    .workSection .WorkDetails a {
      padding: 10px;
      border: 1px solid #2db564;
      color: #16263c;
      width: 170px;
      margin: 8px 0;
      text-align: center;
      border-radius: 4px;
      font-weight: 600;
      text-decoration: none !important; }
      .workSection .WorkDetails a:hover {
        background: #2db564; }
  .workSection .mockUp img {
    width: 100%;
    height: auto; }

.contactSection {
  background: url(../media/img/contact.jpeg);
  background-size: cover;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 485px; }
  .contactSection::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 38, 60, 0.7);
    z-index: 1; }
  .contactSection > div {
    position: relative;
    z-index: 1; }
    .contactSection > div h1 {
      color: #e6e6e6; }
    .contactSection > div form {
      width: 50%;
      margin: 0 auto 40px; }
      .contactSection > div form input, .contactSection > div form textarea {
        background: transparent;
        border: none;
        border-bottom: 2px solid #e6e6e6;
        padding: 12px;
        margin-bottom: 12px;
        width: 100%;
        color: #e6e6e6;
        letter-spacing: 1px;
        font-weight: 300;
        word-spacing: 1px;
        resize: none;
        overflow: hidden; }
      .contactSection > div form button {
        padding: 5px 10px;
        background: transparent;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        width: 200px;
        color: #e6e6e6;
        font-size: 20px;
        cursor: pointer; }

.socialMedia {
  background: #2db564;
  padding: 20px;
  text-align: center;
  color: #16263c; }
  .socialMedia > div a {
    color: #16263c;
    text-decoration: none !important;
    outline: none; }
    .socialMedia > div a .fasm {
      margin: 12px 6px;
      font-size: 22px; }
  .socialMedia > .fasm {
    font-size: 12px;
    vertical-align: baseline; }

.scrollNav {
  position: fixed !important;
  width: 100%;
  left: 0;
  z-index: 1000;
  background: #16263c;
  padding-right: 10%;
  padding-left: 10%;
  height: 62px; }

.active {
  border-bottom: 2px solid #2db564;
  color: #2db564 !important; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%; } }
@media (max-width: 906px) {
  nav .nav-link {
    padding: 8px 20px !important; } }
@media (max-width: 786px) {
  nav .nav-link {
    padding: 8px 15px !important; } }
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../media/For_Wes/For_Wes.jpg") center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .fullscreen-bg__video {
    display: none; }

  nav {
    position: absolute !important;
    width: 100%;
    padding: 0 !important;
    left: 0; }
    nav .navbar-brand {
      padding-left: 10%;
      background: #2db564;
      margin: 0; }
    nav .navbar-collapse {
      z-index: 9999;
      width: 100%;
      position: relative;
      text-align: center;
      padding: 15px 10px;
      background: #2db564; }

  .WorkDetails {
    order: 2;
    text-align: center; }
    .WorkDetails a {
      margin: 10px auto !important; }

  .contactSection > div form {
    width: 60%; } }
@media (max-width: 510px) {
  .homebuttonContainer a {
    font-size: inherit !important; }

  .contactSection::before {
    background: rgba(22, 38, 60, 0.8); }
  .contactSection > div h1 {
    font-size: 2rem; }
  .contactSection > div form {
    width: 85%; } }
@media (max-width: 375px) {
  .contactSection > div h1 {
    font-size: 1.5rem; } }
@media (max-width: 996px) {
  .homeSection h1 {
    font-size: 36px; } }
@media (max-width: 909px) {
  .homeSection h1 {
    font-size: 33px; } }
@media (max-width: 845px) {
  .homeSection h1 {
    font-size: 30px; } }
@media (max-width: 780px) {
  .homeSection h1 {
    font-size: 25px; } }
@media (max-width: 676px) {
  .homeSection h1 {
    font-size: 36px; } }
@media (max-width: 386px) {
  .workSection .WorkDetails h1 {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
