//import font from google
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
// variables
$font-regular: 'Roboto', sans-serif;
$green : #2db564;
$blue : #16263c;
$lightGrey : #4f5152;
$darkwhite : #f8faf9;
// mixins
@mixin translate($x, $y) 
{
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y); // IE9 only
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin background-size($size) 
{
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

*
{
	outline: none;
}

body 
{
	margin: 0;
	padding: 0;
	font-family: $font-regular;
	background: $darkwhite;
}

nav 
{
	position: absolute !important;
	width: 80%;
	height: auto;
	left: 10%;
	.navbar-toggler
	{
		padding: 0;
		vertical-align: text-bottom;
		margin-top: 15px;
		margin-right: 20px;
		.navbar-toggler-icon
		{
			color: $blue;
			font-size: 30px;
			width: auto;
			height: auto;
		}
	}
	.navbar-brand 
	{
		color: #fff;
		font-size: 2.3rem;
		letter-spacing: 1px;
	}
	.nav-link 
	{
		color: #fff;
		letter-spacing: 1px;
		word-spacing: 1px;
		padding: 8px 32px !important;
	}
}

.fullscreen-bg 
{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	height: 100vh;
	&::before 
	{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(22, 38, 60, 0.89);
		z-index: 1;
	}
}

.fullscreen-bg__video 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.homeSection 
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 999;
	text-align: center;
	@include translate(-50%, -50%);
	h1 
	{
		font-family: $font-regular;
		font-weight: 100;
		font-size: 40px;
		color: #fff;
		padding: 0 10px;
		overflow: hidden;
		margin: 0 auto;
		letter-spacing: 2px;
		
		pink
		{
			color: $green;
			font-weight: 600;
		}
	}
	.homebuttonContainer
	{
		margin-top: 70px;
		a
		{
			border-radius: 5px;
			border: 1px solid $green;
			text-align: center;
			text-decoration: none;
			color: $green;
			font-size: 20px;
			letter-spacing: 1px;
			padding: 10px 20px;	
		}
		a:hover
		{
			color: $blue;
			background: $green;
		}
	}

}

.aboutSection
{	
	background: url(../media/img/aboutMe.jpeg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
	
	.sectionWrapper
	{
		width: 80%;
		padding: 32px 0;
		margin: 0 auto;
		.row
		{
			margin: 0;
			padding: 0;
			h1
			{
				color : $blue;
				text-align: left;
			}
			.textContainer
			{
				margin: 0 auto;
				p
				{
					color: $lightGrey;
					letter-spacing: 1px;
					padding: 16px 0;
					text-align: left;
				}
			}
			.ResumeContainer
			{
				text-align: center;
				a
				{
					border-radius: 5px;
					border: 1px solid $green;
					text-align: center;
					text-decoration: none;
					color: $green;
					font-size: 20px;
					letter-spacing: 1px;
					padding: 10px 20px;	
				}
				a:hover
				{
					color: $blue;
					background: $green;
				}
			}
		}
	}
}

.skillsSection
{
	width: 80%;
    padding: 32px 0;
    margin: 0 auto;

	>h1
	{
		color: #16263c;
		text-align: left;
		margin-bottom: 32px;
	}

	.slider
	{
		border: 1px solid #eaeaea;
		padding: 12px 0;
		box-shadow: 0px 0px 20px 5px #f7f7f7;
		background: #fff;

		.mainSlider
		{
			.sliderItemContainer
			{
				position: relative;
				background: #f7f7f7;
				outline: none;
				&::before 
				{
					content: "";
					position: absolute;
					width: 100%;
					background: #fff;
					display: block;
					height: 29px;
					top: 0;
				}
				&::after
				{
					content: "";
					position: absolute;
					width: 100%;
					background: #fff;
					display: block;
					height: 29px;
					bottom: 0;
				}
				.sliderItemDiv
				{
					margin: 0 auto;
					text-align: center;
					width: 100px;
					height: 100px;
					position: relative;
					>div:first-child
					{
						position: absolute;
						top: 0px;
						right: 7px;
						transform: skew(29deg);
						width: 65%;
						height: 29px;
						background: #f7f7f7;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					>div:nth-child(2)
					{
						position: absolute;
						top: 0px;
						left: 7px;
						transform: skew(-29deg);
						width: 65%;
						height: 29px;
						background: #f7f7f7;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					>div:nth-child(3)
					{
						background: #f7f7f7;
						position: relative;
						top: 29px;
						width: 100%;
						height: 42px;
						h1
						{
							color: $blue;
							line-height: 42px;
							font-size: 20px;
						}
					}
					>div:nth-child(4)
					{
						position: absolute;
						bottom: 0px;
						left: 7px;
						transform: skew(29deg);
						width: 65%;
						height: 29px;
						background: #f7f7f7;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						z-index: 1;
					}
					>div:nth-child(5)
					{
						position: absolute;
						bottom: 0px;
						right: 7px;
						transform: skew(-29deg);
						width: 65%;
						height: 29px;
						background: #f7f7f7;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						z-index: 1;
					}
				}
			}
		
			.slick-current
			{
				position: relative;
				background: #f7f7f7;
				outline: none;
				&::before 
				{
					content: "";
					position: absolute;
					width: 100%;
					background: #fff;
					display: block;
					height: 29px;
					top: 0;
				}
				&::after
				{
					content: "";
					position: absolute;
					width: 100%;
					background: #fff;
					display: block;
					height: 29px;
					bottom: 0;
				}
				.sliderItemDiv
				{
					margin: 0 auto;
					text-align: center;
					width: 100px;
					height: 100px;
					position: relative;
					>div:first-child
					{
						position: absolute;
						top: 0px;
						right: 7px;
						transform: skew(29deg);
						width: 65%;
						height: 29px;
						background: #16263c;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					>div:nth-child(2)
					{
						position: absolute;
						top: 0px;
						left: 7px;
						transform: skew(-29deg);
						width: 65%;
						height: 29px;
						background: #16263c;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					>div:nth-child(3)
					{
						background: #f7f7f7;
						position: relative;
						top: 29px;
						width: 100%;
						height: 42px;
						h1
						{
							color: $blue;
							line-height: 42px;
							font-size: 20px;
						}
					}
					>div:nth-child(4)
					{
						position: absolute;
						bottom: 0px;
						left: 7px;
						transform: skew(29deg);
						width: 65%;
						height: 29px;
						background: #16263c;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						z-index: 1;
					}
					>div:nth-child(5)
					{
						position: absolute;
						bottom: 0px;
						right: 7px;
						transform: skew(-29deg);
						width: 65%;
						height: 29px;
						background: #16263c;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						z-index: 1;
					}
				}
			}
		}

		.sliderDetails
		{
			.sliderItemContainer
			{
				outline : none;
				margin-top: 20px;
				.skillText
				{
					padding: 20px;
					text-align: center;
					margin-top: 30px;
					color : $blue;

					hr
					{
						width: 90%;
						margin: 12px auto;
						border: 0;
						height: 1px;
						background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(42, 80, 132), rgba(0, 0, 0, 0));
					}
					p
					{
						padding-left: 35px;
						text-align: left;
					}
				}
				img
				{
					width: 60px;
					height: auto;
					margin: 20px auto;
					filter: grayscale(.2);
				}
			}
		}
	}
}

.workSection
{
	width: 80%;
    padding: 32px 0;
    margin: 0 auto;

	>h1
	{
		color: $blue;
		text-align: left;
		margin-bottom: 32px;
	}

	.WorkDetails
	{
		justify-content: center;
		display: flex;
		flex-flow: column;

		h1
		{
			letter-spacing: 1px;
			text-transform: uppercase;
			margin: 8px 0;
			color: $blue;
			font-weight: 300;
		}

		>p
		{
			letter-spacing: 1px;
			margin: 8px 0;
			color: #777777;
			font-weight: 200;
			line-height: 1.6;
		}

		.badgeWrapper
		{
			margin : 0;
			span
			{
				margin: 8px 0;
				color: $blue;
				border-radius: 4px;
				padding: 6px 10px;
				border: 1px solid $green;
			}
		}

		a
		{
			padding: 10px;
			border: 1px solid $green;
			color: $blue;
			width: 170px;
			margin: 8px 0;
			text-align: center;
			border-radius: 4px;
			font-weight: 600;
			text-decoration: none !important;
			&:hover
			{
				background: $green;
			}
		}
	}

	.mockUp
	{
		img
		{
			width: 100%;
			height: auto;
		}
	}
}

.contactSection
{
	background: url(../media/img/contact.jpeg);
    background-size: cover;
    height: 100%;
    padding: 30px;
    text-align: center;
    background-repeat: no-repeat;
	background-position: bottom;
	position: relative;

	&::before 
	{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(22, 38, 60, 0.7);
		z-index: 1;
	}
	>div
	{
		position: relative;
		z-index: 1;

		h1
		{
			color : #e6e6e6;
		}
		form
		{
			width: 50%;
			margin: 0 auto 40px;

			input , textarea
			{
				background: transparent;
				border: none;
				border-bottom: 2px solid #e6e6e6;
				padding: 12px;
				margin-bottom: 12px;
				width: 100%;
				color: #e6e6e6;
				letter-spacing: 1px;
				font-weight: 300;
				word-spacing: 1px;
				resize: none;
				overflow: hidden;
			}

			button
			{
				padding: 5px 10px;
				background: transparent;
				border: 1px solid #e6e6e6;
				border-radius: 4px;
				width: 200px;
				color: #e6e6e6;
				font-size: 20px;
				cursor: pointer;
			}
		}	
	}	
}

.socialMedia
{
	background: $green;
	padding: 20px;
	text-align: center;
	color : $blue;

	>div
	{
		a
		{
			color: #16263c;
			text-decoration: none !important;
			outline: none;

			.fasm
			{
				margin: 12px 6px;
				font-size: 22px;
			}
		}
		
	}

	>.fasm
	{
		font-size: 12px;
		vertical-align: baseline;
	}

}

.scrollNav
{
	position: fixed !important;
    width: 100%;
    left: 0;
    z-index: 1000;
    background: #16263c;
    padding-right: 10%;
    padding-left: 10%;
}
@media (min-aspect-ratio: 16/9) 
{
	.fullscreen-bg__video 
	{
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) 
{
	.fullscreen-bg__video 
	{
		width: 300%;
		left: -100%;
	}
}

@media(max-width: 906px)
{
	nav .nav-link 
	{
		padding: 8px 20px !important
	}
}

@media(max-width: 786px)
{
	nav .nav-link 
	{
		padding: 8px 15px !important
	}
}

@media (max-width: 767px)
{
	.fullscreen-bg 
	{
		background: url('../media/For_Wes/For_Wes.jpg') center center / cover no-repeat;
		@include background-size(cover);
	}
	.fullscreen-bg__video 
	{
		display: none;
	}

	nav 
	{
		position: absolute !important;
		width: 100%;
		padding: 0 !important;
		left: 0;

		.navbar-brand 
		{
			padding-left: 10%;
			background: $green;
			margin: 0;
		}
		.navbar-collapse
		{
			z-index: 9999;
			width: 100%;
			position: relative;
			text-align: center;
			padding: 15px 10px;
			background: $green;
		}
	}
	
	.WorkDetails
	{
		order: 2;
		text-align: center;
		a
		{
			margin: 10px auto !important;
		}
	}
	
	.contactSection
	{
		>div form
		{
			width: 60%;
		}
	}
}

@media (max-width: 510px)
{
	.homebuttonContainer a
	{
		font-size: inherit !important;
	}

	.contactSection
	{
		&::before
		{
			background: rgba(22, 38, 60, 0.80);
		}
		>div
		{
			h1
			{
				font-size: 2rem;
			}

			form
			{
				width: 85%;
			}
		}
	}
}

@media (max-width: 375px)
{
	.contactSection
	{
		>div
		{
			h1
			{
				font-size: 1.5rem;
			}
		}
	}
}

@media (max-width: 996px)
{
	.homeSection h1
	{
		font-size: 36px;	
	}
}

@media (max-width: 909px)
{
	.homeSection h1
	{
		font-size: 33px;	
	}
}

@media (max-width: 845px)
{
	.homeSection h1
	{
		font-size: 30px;	
	}
}

@media (max-width: 780px)
{
	.homeSection h1
	{
		font-size: 25px;	
	}
}

@media (max-width: 676px)
{
	.homeSection h1
	{
		font-size: 36px;	
	}
}

@media (max-width: 386px)
{
	.workSection .WorkDetails h1
	{
		font-size: 2rem;	
	}
}