@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

nav {
  position: absolute !important;
  width: 80%;
  height: auto;
  left: 10%; }
  nav .navbar-toggler {
    padding: 0;
    vertical-align: text-bottom;
    margin-top: 15px;
    margin-right: 20px; }
    nav .navbar-toggler .navbar-toggler-icon {
      color: #16263c;
      font-size: 30px;
      width: auto;
      height: auto; }
  nav .navbar-brand {
    color: #fff;
    font-size: 2.3rem;
    letter-spacing: 1px; }
  nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 8px 32px !important; }

.fullscreen-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100vh; }
  .fullscreen-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 38, 60, 0.89);
    z-index: 1; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.homeSection {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .homeSection h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    padding: 0 10px;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 2px; }
    .homeSection h1 pink {
      color: #2db564;
      font-weight: 600; }
  .homeSection .homebuttonContainer {
    margin-top: 70px; }
    .homeSection .homebuttonContainer a {
      border-radius: 5px;
      border: 1px solid #2db564;
      text-align: center;
      text-decoration: none;
      color: #2db564;
      font-size: 20px;
      letter-spacing: 1px;
      padding: 10px 20px; }
    .homeSection .homebuttonContainer a:hover {
      color: #16263c;
      background: #2db564; }

.aboutSection {
  width: 80%;
  padding: 32px 0;
  margin: 0 auto; }
  .aboutSection .row {
    margin: 0;
    padding: 0; }
    .aboutSection .row h1 {
      color: #16263c;
      text-align: left; }
    .aboutSection .row .textContainer {
      margin: 0 auto; }
      .aboutSection .row .textContainer p {
        color: #4f5152;
        letter-spacing: 1px;
        padding: 16px 0;
        text-align: left; }
    .aboutSection .row .ResumeContainer {
      text-align: center; }
      .aboutSection .row .ResumeContainer a {
        border-radius: 5px;
        border: 1px solid #2db564;
        text-align: center;
        text-decoration: none;
        color: #2db564;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 10px 20px; }
      .aboutSection .row .ResumeContainer a:hover {
        color: #16263c;
        background: #2db564; }
    .aboutSection .row .PersoImgContaner {
      margin-top: 32px; }
      .aboutSection .row .PersoImgContaner img {
        width: 60%;
        margin: 0 auto;
        display: block;
        height: auto; }

.skillsSection {
  width: 80%;
  padding: 32px 0;
  margin: 0 auto; }
  .skillsSection > h1 {
    color: #16263c;
    text-align: left;
    margin-bottom: 32px; }
  .skillsSection .slider {
    border: 1px solid #eaeaea;
    padding: 12px 0;
    box-shadow: 0px 0px 20px 5px #f7f7f7; }
    .skillsSection .slider .sliderItemContainer {
      position: relative;
      background: #f7f7f7;
      outline: none; }
      .skillsSection .slider .sliderItemContainer::before {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        top: 0; }
      .skillsSection .slider .sliderItemContainer::after {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        bottom: 0; }
      .skillsSection .slider .sliderItemContainer .sliderItemDiv {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative; }
        .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:first-child {
          position: absolute;
          top: 0px;
          right: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:nth-child(2) {
          position: absolute;
          top: 0px;
          left: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:nth-child(3) {
          background: #f7f7f7;
          position: relative;
          top: 29px;
          width: 100%;
          height: 42px; }
          .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:nth-child(3) h1 {
            color: #16263c;
            line-height: 42px;
            font-size: 20px; }
        .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:nth-child(4) {
          position: absolute;
          bottom: 0px;
          left: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
        .skillsSection .slider .sliderItemContainer .sliderItemDiv > div:nth-child(5) {
          position: absolute;
          bottom: 0px;
          right: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #f7f7f7;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
    .skillsSection .slider .slick-center {
      position: relative;
      background: #f7f7f7;
      outline: none; }
      .skillsSection .slider .slick-center::before {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        top: 0; }
      .skillsSection .slider .slick-center::after {
        content: "";
        position: absolute;
        width: 100%;
        background: #fff;
        display: block;
        height: 29px;
        bottom: 0; }
      .skillsSection .slider .slick-center .sliderItemDiv {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative; }
        .skillsSection .slider .slick-center .sliderItemDiv > div:first-child {
          position: absolute;
          top: 0px;
          right: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .slick-center .sliderItemDiv > div:nth-child(2) {
          position: absolute;
          top: 0px;
          left: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .skillsSection .slider .slick-center .sliderItemDiv > div:nth-child(3) {
          background: #f7f7f7;
          position: relative;
          top: 29px;
          width: 100%;
          height: 42px; }
          .skillsSection .slider .slick-center .sliderItemDiv > div:nth-child(3) h1 {
            color: #16263c;
            line-height: 42px;
            font-size: 20px; }
        .skillsSection .slider .slick-center .sliderItemDiv > div:nth-child(4) {
          position: absolute;
          bottom: 0px;
          left: 7px;
          transform: skew(29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }
        .skillsSection .slider .slick-center .sliderItemDiv > div:nth-child(5) {
          position: absolute;
          bottom: 0px;
          right: 7px;
          transform: skew(-29deg);
          width: 65%;
          height: 29px;
          background: #16263c;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          z-index: 1; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%; } }
@media (max-width: 906px) {
  nav .nav-link {
    padding: 8px 20px !important; } }
@media (max-width: 786px) {
  nav .nav-link {
    padding: 8px 15px !important; } }
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../media/For_Wes/For_Wes.jpg") center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .fullscreen-bg__video {
    display: none; }

  nav {
    position: absolute !important;
    width: 100%;
    padding: 0 !important;
    left: 0; }
    nav .navbar-brand {
      padding-left: 10%;
      background: #2db564;
      margin: 0; }
    nav .navbar-collapse {
      z-index: 9999;
      width: 100%;
      position: relative;
      text-align: center;
      padding: 15px 10px;
      background: #2db564; } }
@media (max-width: 510px) {
  .homebuttonContainer a {
    font-size: inherit !important; } }

/*# sourceMappingURL=style.css.map */
